<section id="footer">
	<div class="container">
		<hr/>
		<a href="#">Terms</a>
		<!-- <div class="row">
			<div class="col-md-3 col-sm-3 col-xs-3">
				<ul class="list-group">
					<li class="list-group-item">One</li>
					<li class="list-group-item">Two</li>
					<li class="list-group-item">Three</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
				<ul class="list-group">
					<li class="list-group-item">One</li>
					<li class="list-group-item">Two</li>
					<li class="list-group-item">Three</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
				<ul class="list-group">
					<li class="list-group-item">One</li>
					<li class="list-group-item">Two</li>
					<li class="list-group-item">Three</li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
				<ul class="list-group">
					<li class="list-group-item">One</li>
					<li class="list-group-item">Two</li>
					<li class="list-group-item">Three</li>
				</ul>
			</div>
		</div> -->
	</div>
</section>