<%= render "shared/nav" %>
<br/>
<br/>
<br/>
<br/>
<section id="about">
	<div class="container">
    <div class="row">
      <br/>
      <%= image_tag 'founders.png', class: 'img-responsive' %>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h3>Scratching our own itch</h3>
        <p>All we wanted was to get feedback from our design friends. Between emailing, Dropbox, Droplr, Skype and Facebook we got our feedback. But it was scattered, it was lost, it was never clear enough.</p>

        <p>So, we tried every design feedback app out there. But they shouted: they were big! feature-filled! could do anything! solved every problem!— and with that they were overwhelmingly complicated. The tools became the distraction. We just wanted something simple, so we made it.</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <h3>What motivates us</h3>
        <p>We want to make feedback an egoless standard; an indispensable part of the design process. We want to do our part to encourage designers to seek feedback and not praise. To enable designers to truly collaborate with every discipline that make up a team.</p>

      </div>
    </div>
    <br/>
    <h2 class="text-center">Here's how we're doing so far</h2>
    <br/>
    <div class="col-md-3 col-sm-3">
      <h1 class="text-center"><i class="fa fa-folder-open"></i></h1>
      <h2 class="text-center">123,234</h2>
      <p class="text-center">Current Projects</p>
    </div>
    <div class="col-md-3 col-sm-3">
      <h1 class="text-center"><i class="fa fa-image"></i></h1>
      <h2 class="text-center">235,236</h2>
      <p class="text-center">Visuals Uploaded</p>
    </div>
    <div class="col-md-3 col-sm-3">
      <h1 class="text-center"><i class="fa fa-star-half-full"></i></h1>
      <h2 class="text-center">356,856</h2>
      <p class="text-center">MASH Scores</p>
    </div>
    <div class="col-md-3 col-sm-3">
      <h1 class="text-center"><i class="fa fa-user"></i></h1>
      <h2 class="text-center">924,643</h2>
      <p class="text-center">Teammates Invited</p>
    </div>

  </div>
</section>