<section id="landing">
	<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <br/>
        <h2 class="text-center">Submit a link to your product</h2>
        <br/>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Submit</button>
            </span>
          </div>
        </div>
    </div>
  </div>
</section>