<%= render "shared/dashnav" %>
<div class="container">
  <div class="row">
    <br/>
    <br/>
    
    

    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
      <h2 class="text-center">All that matters is how many projects you run at once</h2>
      <br/><br/><br/>
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="feature">
            <h1><i class="fa fa-cloud-upload"></i></h1>
            <h4>Unlimited Visuals</h4>
            <p>Visuals are ideas attached to projects. Upload as many as you like!</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="feature">
            <h1><i class="fa fa-share-alt"></i></h1>
            <h4>Unlimited Invites</h4>
            <p>Invite everyone who wants to contribute: clients, the boss, the janitor, etc.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="feature">
            <h1><i class="fa fa-group"></i></h1>
            <h4>Unlimited Team Members</h4>
            <p>Your team can add and MASH designs in projects. Everyone’s notified of changes.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="feature">
            <h1><i class="fa fa-eraser"></i></h1>
            <h4>Unlimited Versioning</h4>
            <p>Iterate until it’s perfect. We don’t put any arbitrary limitations in place.</p>
          </div>
        </div>
      </div>
        <br/>
        <br/>
        <br/><br/>
    </div>

    
    <div class="pricing-tables attached">
      <div class="row">

        <div class="col-sm-4 col-md-4">
          <div class="plan first">
            <div class="head">
              <h2>Free</h2>
            </div>  
            <ul class="item-list">
              <li><h3>1 Project</h3></li>
              <!-- <li><strong>5</strong> Projects</li>
              <li><strong>10</strong> Email Addresses</li>
              <li><strong>5</strong> Domains</li>
              <li><strong>Endless</strong> Support</li> -->
            </ul>
            <div class="price">
              <h3><span class="symbol">$</span>0</h3>
              <h4>per month</h4>
            </div>
            <button type="button" class="btn btn-default">Sign Up</button>
          </div>
        </div>

        <div class="col-sm-4 col-md-4 ">
          <div class="plan recommended">
            <div class="head">
              <h2>Basic</h2>
            </div>  
            <ul class="item-list">
              <li><h3>25 Projects</h3></li>
              <!-- <li><strong>200GB</strong> Storage</li>
              <li><strong>20 </strong>Email Addresses</li>
              <li><strong>25</strong> Domains</li>
              <li><strong>Endless</strong> Support</li> -->
            </ul>
            <div class="price">
              <h3><span class="symbol">$</span>9</h3>
              <h4>per month</h4>
            </div>
            <button type="button" class="btn btn-default">Sign Up</button>
          </div>
        </div>

        <div class="col-sm-4 col-md-4 ">
          <div class="plan last">
            <div class="head">
              <h2>Pro</h2>
            </div>  
            <ul class="item-list">
              <li><h3>50 Projects</h3></li>
              <!-- <li><strong>Unlimited</strong> Projects</li>
              <li><strong>Unlimited</strong> Team Members</li>
              <li><strong>Unlimited</strong> Projects</li>
              <li><strong>Endless</strong> Support</li> -->
            </ul>
            <div class="price">
              <h3><span class="symbol">$</span>19</h3>
              <h4>per month</h4>
            </div>
            <button type="button" class="btn btn-default">Sign Up</button>
          </div>
        </div>

      </div> <!-- row-->
    </div>

    <div class="col-sm-12 col-md-12">
      <div class="row">
        <br/>
        <br/>
        <div class="col-md-4 col-sm-4">
          <div class="faq">
            <h4>Can I archive old projects?</h4>
            <p>Yes. In fact, we encourage this. If you hit the project limit, you can archive projects you no longer need. And you can revive them if you need them later.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="faq">
            <h4>Am I locked into anything?</h4>
            <p>Absolutely not. There are no contracts, obligations, fees, or smoke ceremonies required. If you cancel, we will refund you for any unused time.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="faq">
            <h4>Is there a free plan?</h4>
            <p>There’s a free version that allows up to 5 projects. Give the free plan a go and after it’s over, your account will continue to be free.</p>
          </div>
        </div>
      </div>
        <br/>
        <br/>
    </div>
    
  </div>
</div>

<section id="enterprise">
  <div class='container'>
    <div class="row">
      <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
        <h4>Need more? &nbsp;Check out our enterprise services</h4>
        <h2>Custom productMash</h2>
        <a href="#" class="btn btn-default ">
          Unlimited projects + Custom MASH
          &nbsp;<i class="fa fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>