<%= render "shared/nav" %>
<br/>
<br/>
<br/>
<br/>
<section id="terms">
	<div class="container">
    <div class="row">
      <h2 class="text-center">Privacy Policy &amp; Terms of Use</h2>
      <p class="text-center">Written on the 21st August 2014. Updated on 7th September 2014.</p>
      <div class="col-md-8 col-md-offset-2">
        <br/>

        <p>Hello. This is our privacy agreement and terms of use. Unlike other agreements, this is written is plain English for our mutual understanding. Although this language is simple, the intentions of this document are serious and this agreement is a legal document under the United States courts.</p>
        <br/>
        <h3>Information we collect</h3>
        <p>When you use productMASH we ask for your name and email address. We use this inside the app, in notification emails to you and fellow commenters, and for authenticating your identity to log you into your account.</p>

        <p>Like most websites on the Internet, we collect non-personal information that your web browser makes available: your browser type, the link that linked to productMASH, your city, and the date and time of your visit. We use this information for research to understand how our users on average use productMASH and how we can make it better.</p>

        <p>We don’t share this information or your designs or use it for any other purpose (except to comply with a subpoena under the law.)</p>

        <p>We will not rent or sell this information or your designs to anyone.</p>
        <br/>
        <h3>Cookies</h3>
        <p>A cookie is a small amount of data productMASH saves on your computer. We use the cookie to recognise you when you visit productMASH in the future. The cookie contains an encrypted, anonymised user ID. productMASH reads the user ID, matches it with the ID stored in our database, and recalls your name, email, colour and recently uploaded designs from our database. Your personal information is not stored on your computer in the cookie. No other websites are able to access the productMASH cookie.</p>

        <p>If you dislike this, your browser has a function to clear cookies— if you do that, productMASH won’t be able to recognise your computer in the future.</p>

        <br/>
        <h3>Who has access to your designs</h3>
        <p>Only people who have the unique URL of your design have access to the design you upload. The page cannot be discovered or indexed by search engines. productMASH’s staff are only permitted access to your information when it is necessary to the operation of the website, or when you email them asking for help. productMASH’s staff have agreed not to disclose personal or anonymous information to others.</p>

        <p>You can delete your design at any time by clicking the “Delete this design” link at the bottom of the design’s page. The design and all comments on it will immediately become unviewable by everyone including us.</p>

        <p>We claim no intellectual property rights over the designs you upload to productMASH. Your designs remain yours. However, we think your designs look nice. Good job.</p> 

        <br/>
        <h3>Terms of Service</h3>
        <p>By visiting productMASH, you (and your company) agree to all we'll mention below. (If you don't agree, you shouldn't use this site.)</p>

        <p>As mentioned, we claim no intellectual property over the designs uploaded to productMASH. In extension, we hold no responsibility for determining the proper ownership or proper use of the designs uploaded. All liabilties about these designs rest with the people who've uploaded them. When you upload designs, you agree and promise us that the designs don't violate any laws, rules, regulations, or rights of others. I believe the legal word for this is “pinky promise”. productMASH assumes no responsibility for determining who does or doesn't have such authority. By using us, you agree to defend, indemnify, and hold us harmless for the use, claims, liabilities, damages, or expenses of any designs; and any breaches, infringements, misappropriations, or law violations that come from them.</p>

        <p>We reserve the right to refuse service if you upload designs that are offensive, violate laws, or advocate illegal actvities. We like you and we hope to be good friends. That's a nice shirt you're wearing.</p>

        <br/>
        <h3>Changes to this page</h3>
        <p>We might update this page in the future. If we do, we’ll let you know of significant changes by sending you an email or by placing a prominent notice on the site.</p>

        <br/>
        <h3>Thanks for reading</h3>
        <p>productMASH is made by Epicsteme in Chicago, Illinois. If you have any questions, email <a href="mailto:chris@epicsteme.com">Chris</a>; he’ll be happy to help.</p>

        <br/>
        <%=link_to root_url do %>
          <i class="fa fa-arrow-left"></i> &nbsp;Back to productMASH
        <% end %>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</section>