#projects {
	.fa {padding:0 15px;color:#999;}
	.fa:hover {color:#666;}
	.fa-trash:hover {color:#c9302c;}
	.default-actions{width:180px;}
}

.navbar-dash {
	.navbar-brand {color:#444;}
	li a {color:#444;}
	li a:hover {color:#666;}
	li a.lt-nav {color:#999;}
	li a.lt-nav:hover {color:#794aa2;}
}

